<table>
<% @nodes.each do |node| %>
<tr>
    <td><%= node.created_at %></td>
    <td><%= link_to node.archive['user_name'], node_path(node) %></td>
    <td><%= node.posts.count %></td>
    <td><%= node.posts.average(:score) %></td>
    <td><%= node.archive['source'] %></td>
</tr>
<% end %>
</table>