<%= form_tag nodes_path, :method => 'get' do %>
  <%= text_field_tag :description, params[:description], placeholder: 'Keywords (ex. 台灣+阿瑞)' %>
  <%= render "layouts/search", params: params %>
<% end %>

<table>

<% @nodes.each do |node| %>
  <% cache node do %>

<tr>
    <td><%= node.created_at %></td>
    <td><%= link_to node.archive['user_name'], node_path(node) %></td>
    <td><%= node.posts.count %></td>
    <td><%= node.posts.average(:score) %></td>
    <td><%= node.archive['source'] %></td>
</tr>
<% end %>
<% end %>
</table>