<%= form_tag domains_path, :method => 'get' do %>
  <%= render "layouts/search" %>
<% end %>

<h4><%= @domains_count %> Results (Domains)</h4>

<table>
<% @domains.each do |domain| %>
<tr>
    <td><%= domain.created_at %></td>
    <td><%= domain.nodes.count %></td>
    <td><%= link_to domain.url, domain_path(domain) %></td>
</tr>
<% end %>
</table>