<h4>link search in DB</h4>

<%= form_tag links_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :url, params[:url] %>
    <%= submit_tag "Search", :name => nil %>
    <%= @links.count %>
  </p>
<% end %>

<table>
<% @links.each do |link| %>
<tr>
    <td><%= link_to (tw_time link.post.updated || link.post.date), post_path(id: link.post_id) %></td>
    <td><%# link_to link.post.node.name, link.post.node.url, target: "_blank" %></td>
    <% if link.url %>
    <td><%= link_to 'CT', url_on_ct(link.url), target: "_blank" %></td>
    <td><%= link_to link.url.truncate(30), link.url, target: "_blank" %></td>
    <% end %>
    <td><%= link_to link.post.title.truncate(10), link.post.url, target: "_blank" if link.post.title %></td>
</tr>
<% end %>
</table>

<h4> Top shared domain</h4>
<table>
<% @link_domains.each do |link| %>
<tr>
    <td><%= link[1] %></td>
    <td><%= link_to link[0], "http://#{link[0]}", target: "_blank" %></td>
</tr>
<% end %>
</table>

<h4> Top shared links</h4>
<table>
<% @link_tops.each do |link| %>
<tr>
    <td><%= link_to link[1], posts_path(url: link[0]), target: "_blank" %></td>
    <td><%= link_to link[0], link[0].dup.delete!("^\u{0000}-\u{007F}"), target: "_blank" if link[0] %></td>
</tr>
<% end %>
</table>

