<%= form_tag links_path, :method => 'get' do %>
  <%= text_field_tag :url, params[:url], placeholder: 'Url' %>
  <%= text_field_tag :description, params[:description], placeholder: 'Keywords (ex. å°ç£+é˜¿ç‘ž)' %>
  <%= render "layouts/search", params: params %>
<% end %>

<h4><%= @links.count %> Results (Links)</h4>

<table>
<% @link_by_domains.each do |link| %>
    <%= render "links/group", params: {link: {url: link[0], counts: link[1]}} %>
<% end %>
</table>

<hr>

<table>
<% @link_by_counts.each do |link| %>
    <%= render "links/group", params: {link: {url: link[0], counts: link[1]}} %>
<% end %>
</table>

<table>

<hr>

<% @links.each do |link| %>
<tr>
    <td><%= link_to 'ðŸ”—', "#{link.url}", target: "_blank" %></td>
    <%= render "layouts/ct", params: {ct: link.url} %>
    <% if link.post %>
    <td><%= link_to link.post.date, post_path(id: link.post_id), title: link.post.archive %></td>
    <td><%= link_to link.post.title ? link.post.title.truncate(30) : link.post.node.archive['name'], link.post.url, target: "_blank" %></td>
    <% end %>
    <td><%= link_to (link.url ? link.url.truncate(30) : ''), (link.url ? link.url : ''), target: '_blank' %></td>
</tr>
<% end %>
</table>