<h4>Dataset & Time Range</h4>
[TODO:選擇資料集與日期]
<h4>link search in DB</h4>

<%= form_tag links_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :url, params[:url] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h4>link description in DB</h4>

<%= form_tag links_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :description, params[:description] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<h4> Top shared domain</h4>
<table>
<% @link_domains.each do |link| %>
<tr>
    <td><%= link_to '↖', "http://#{link[0]}", target: "_blank" %></td>
    <%= render "layouts/ct", params: {ct: link[0]} %>
    <td><%= link_to link[1] %></td>
    <td><%= link_to link[0], links_path(url: link[0]) %></td>
</tr>
<% end %>
</table>

<h4> Top shared links</h4>
<table>
<% @link_tops.each do |link| %>
<tr>
    <td><%= link_to '↖', "#{link[0]}", target: "_blank" %></td>
    <%= render "layouts/ct", params: {ct: link[0]} %>
    <td><%= link_to link[1], posts_path(url: link[0]), target: "_blank" %></td>
    <td><%= link_to link[0], link[0], target: "_blank" %></td>
</tr>
<% end %>
</table>

<h4>Results | <%= @links.count %></h4>

<table>
<% @links.each do |link| %>
<tr>
    <td><%= link_to '↖', "#{link.url}", target: "_blank" %></td>
    <%= render "layouts/ct", params: {ct: link.url} %>
    <td><%= link_to (tw_time link.created_at || link.post.updated || link.post.date), post_path(id: link.post_id), title: link.post.archive %></td>
    <td><%= link_to link.post.title ? link.post.title.truncate(30) : link.post.node.name, link.post.url, target: "_blank" %></td>
    <td><%= link_to link.url ? link.url.truncate(30) : '' %></td>
</tr>
<% end %>
</table>