<%= form_tag links_path, :method => 'get' do %>
  <%= text_field_tag :url, params[:url], placeholder: 'URL' %>
  <%# text_field_tag :description, params[:description], placeholder: 'Keywords (ex. å°ç£+é˜¿ç‘ž)' %>
  <%= render "layouts/search" %>
<% end %>

<h4><%= @link_by_domains.count %> Results (Domain)</h4>
<% @link_by_domains.each do |link| %>
<div class='test' style="text-overflow:ellipsis;">
    <%= render "links/group", params: {link: {url: link[0], counts: link[1]}} %>
</div>
<% end %>


<hr>

<h4><%= @link_by_counts.count %> Results (Link Groups)</h4>
<table id="hotgroup">
<thead>
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<% @link_by_counts.each do |link| %>
    <%= render "links/group", params: {link: {url: link[0], counts: link[1]}} %>
<% end %>
</tbody>
</table>


<hr>
<% if @links.any? %>
<h4><%= @links.count %> Results (Links)</h4>
<%= paginate @links_by_page %>
<% @links_by_page.each do |link| %>
<div class='test' style="text-overflow:ellipsis;">
    <%= link_to 'ðŸ”—', "#{link.url}", target: "_blank" %></td>
    <%= render "layouts/ct", params: {ct: link.url} %>
    <% if link.post %>
      <%= link_to link.post.date, post_path(id: link.post_id), title: link.post.archive %></td>
      <%# link_to link.post.title ? link.post.title : link.post.node.archive['name'], link.post.url, target: "_blank" %></td>
      <%= link.post.title ? link.post.title : link.post.node.archive['name'] %></td>
    <% end %>
    <%= link_to (link.url ? link.url : ''), (link.url ? link.url : ''), target: '_blank' %>
</div>
<% end %>
<%= paginate @links_by_page %>

<% else %>
  <%= 'No result' %>
<% end %>

<script>
$(document).ready(function() {
    $('#hotgroup').DataTable({
          lengthMenu: [[50, 25, 10, -1], [50, 25, 10, "All"]]
    });
} );
</script>