<%= form_tag posts_path, :method => 'get' do %>
  <%= render "layouts/search_txt", params: params %>
  <%= render "layouts/search", params: params %>
<% end %>
<h4>
<% @post_tags.each do |x| %>
  <%= link_to "#{x[0]}(#{x[1]})", posts_path(params: {description: params[:description]+'+'+x[0], start_date: params[:start_date], end_date: params[:end_date]}) if x[0] %>
<% end %>
<h4>

<h4><%= @posts_count %> Results (Posts) </h4>
<h5><%= "#{@first_date}" %></h5>
<h5><%= "#{@last_date}" %></h5>

<h5>
<% @type_counts.each do |t| %>
<%= "#{t[0]}: #{t[1]}, " %>
<% end %>
</h5>

<h5>
<% @posts_date.each do |pd| %>
  <%= link_to "#{pd[0]}: #{pd[1]}", posts_path(params: {description: params[:description], start_date: pd[0], end_date: pd[0]}) %><br>
<% end %>
</h5>

<% @posts.each do |post| %>
    <div class='test' style="text-overflow:ellipsis;">
      <%= post.link ? (link_to post.updated, post_path(post), title: post.archive) : post.updated %>
      <%= link_to media_icon(post.node.archive['source']), post.url, target: '_blank' %>
      <%= post.title ? post.title : 'post' %>
    </div>
<% end %>
