<%= form_tag posts_path, :method => 'get' do %>
  <%= render "layouts/search", params: params %>
<% end %>

<h4><%= @posts.count %> Results</h4>

<table>
<% @posts.each do |post| %>
<tr>
    <td><%= link_to '↖', post.url, target: '_blank' %></td>
    <td><%= link_to post.updated, post_path(post), title: post.archive %></td>
    <td><%= link_to post.title ? post.title.truncate(20) : 'post', post_path(post) %></td>
    <td><%= post.score %></td>
</tr>
<% end %>
</table>