<%= form_tag posts_path, :method => 'get' do %>
  <%= render "layouts/search_txt" %>
  <%= render "layouts/search" %>
  <%= render "layouts/tag" %>
<% end %>

<h4><%= @posts_count %> Results (Posts) </h4>
<h5><%= "#{@first_date}" %> (First Time)</h5>
<h5><%= "#{@last_date}" %> (Last Time)</h5>

<h5>
<% @type_counts.each do |t| %>
<%= "#{t[0]}: #{t[1]}, " %>
<% end %>
</h5>

<h5>
<% @date = ['x'] %>
<% @count = ['counts'] %>

<% @posts_date.each do |pd| %>
  <% @date << pd[0] %>
  <% @count << pd[1] %>
  <%= link_to "#{pd[0]}: #{pd[1]}", posts_path(params: {description: params[:description], start_date: pd[0], end_date: pd[0]}) %><br>
<% end %>

<% if @posts_date.count > 0 %>
<div id='post_count_chart'></div>
<script>
var chart = bb.generate({
  data: {
    x: "x",
    columns: [
        "<%= @date.join(',') %>".split(','),
        "<%= @count.join(',') %>".split(',')
      // "<%= @date %>",
      // "<%= @count %>"
    ]
  },
  axis: {
    x: {
      type: "timeseries",
      tick: {
        count: "<%= @posts_date.count %>",
        format: "%Y-%m-%d"
      }
    }
  },
  bindto: "#post_count_chart"
});
</script>
<% end %>

</h5>


<% @posts.each do |post| %>
    <div class='test' style="text-overflow:ellipsis;">
      <%= post.link ? (link_to post.updated, post_path(post), title: post.archive) : post.updated %>
      <%= link_to media_icon( post.source || post.node.archive['source']), post.url, target: '_blank' %>
      <% if post.source = 'news' && @posts_count < 100 %>
        <div class="fb-like" data-href="<%= post.link %>" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
      <% end %>
      <%= post.title ? post.title : 'post' %>
    </div>
<% end %>

