
<%= link_to '📎', 'https://cofacts.g0v.tw/article/'+@response['id'], target: '_blank' %>
<%= @response['text']%>
<% @response['hyperlinks'].each do |rh| %>
<%= link_to rh['url'], rh['url'], target: '_blank' %>
<% end %>
<blockquote>
<% @response['articleReplies'].each do |ra| %>
<div class='test' style="text-overflow:ellipsis;">
<%= link_to '📎', 'https://cofacts.g0v.tw/reply/'+ra['reply']['id'], target: '_blank' %>
<%= ra['reply']['text'] %>
<%= ra['reply']['type'] %>
<%= link_to ra['reply']['reference'] %>
</div>
<% end %>
</blockquote>

