
<% @cofacts_responses.each do |c|%>

<div class='test' style="text-overflow:ellipsis;">
<%= link_to '🔗', 'https://cofacts.g0v.tw/article/'+c['id'], target: '_blank' %>
<%= c['createdAt'].to_date %>
<%# c['updatedAt'].to_date %>
<% c['hyperlinks'].each do |rh| %>
<%= link_to '📎', rh['url'], target: '_blank' %>
<% end %>
<%= c['text']%>
</div>
<blockquote>
<% c['articleReplies'].each do |ra| %>
<div class='test' style="text-overflow:ellipsis;">
<%= link_to '🔗', 'https://cofacts.g0v.tw/reply/'+ra['reply']['id'], target: '_blank' %>
<%= c['createdAt'].to_date %>
<%= ra['reply']['text'] %>
<%= ra['reply']['type'] %>
<%= link_to ra['reply']['reference'] %>
</div>
<% end %>
</blockquote>

<% end %>