<h4><%= link_to '[DoubleThink Lab DB]', root_path %> | 
<%= link_to 'LINK', links_path %> |
<%= link_to 'POST', posts_path %> |
<%= link_to 'NODE', nodes_path %> |
<%= link_to 'DOMAIN', domains_path %> | 
<%= link_to 'ADMIN', '/fin' %> | 
</h4>