<p>
<%= text_field_tag :url, params[:url], placeholder: 'Url' %>
<%= text_field_tag :description, params[:description], placeholder: 'Keywords' %>
<%= text_field_tag :start_date, params[:start_date], placeholder: 'Start Date' %>
<%= text_field_tag :end_date, params[:end_date], placeholder: 'End Date' %>
<%= submit_tag "Search", :name => nil %>
</p>
