<!DOCTYPE html>
<html>
  <head>
  
<!-- 1) Load D3.js and billboard.js separately -->
    <!-- Load D3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Load billboard.js with base(or theme) style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.10.2/billboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.10.2/billboard.js"></script>

<!-- 2) or Load billboard.js packaged with D3.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.10.2/billboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.10.2/billboard.pkgd.js"></script>
<!-- 1) Load D3.js and billboard.js separately -->


  
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GAID'] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', "<%= ENV['GAID'] %>");
    </script>
          <!-- Global site tag (gtag.js) - Google Analytics -->

<%# https://developers.facebook.com/docs/plugins/like-button/ %>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v6.0&appId=<%= ENV['FBAPPID']%>&autoLogAppEvents=1"></script>
<%# https://developers.facebook.com/docs/plugins/like-button/ %>


    <title><%= content_for?(:title) ? "DTL_#{content_for(:title)}" : "DTL" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= yield %>
  </body>
</html>
